body {
  font-family: "Source Code Pro", monospace;
  border: 1px solid black;
  font-size: 20px;
  margin: 3rem;
  padding: 0.5rem;
  /* height: 100vh; */
}

.dark {
  background-color: #333;
  color: #fff;
  transition: 0.75s;
}
.light {
  background-color: #fff;
  color: #333;
  transition: 0.75s;
}

#heading {
  display: flex;
  justify-content: space-between;
}

header {
  animation: fadeIn 0.75s;
  /* border: 1px solid black; */
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1rem;
  /* transition: 0.75s; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

nav {
  border: 1px solid black;
  margin-bottom: 1rem;
  text-align: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(100px, 1fr));
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0.25rem;
}

nav ul li {
  /* border: 1px solid black; */
  padding: 0.25rem;
}

.dot-display {
  border: 1px solid black;
  margin: 0.5rem;
  position: relative;
  width: 100%; /* Adjust the width to your desired size */
  height: 400px; /* Adjust the height to your desired size */
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

#imaging {
  border: 1px solid black;
  grid-row-start: span 2;
}

#about {
  /* border: 1px solid black; */
  padding: 1rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#skills {
  /* border: 1px solid black; */
}

#tech {
  display: grid;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 100px) {
  #tech {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 700px) {
  #tech {
    grid-template-columns: repeat(4, 1fr);
  }
}

#tech li {
  margin: 0 auto;
  width: fit-content;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects {
  /* border: 1px solid black; */
  padding: 0.5em;
  display: grid;
  /* justify-content: center; */
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minMax(400px, 1fr));
}

.card {
  /* border: 1px solid black; */
  padding: 0.25rem;
  width: 310px;
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 376px) {
  .card {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
  }
}

/* .card p {
  grid-column-start: span 2;
} */

@media (min-width: 376px) {
  .card p {
    grid-column-start: span 2;
  }
}

.card-image {
  border: 1px solid black;
  height: 200px;
  width: 250px;
}

.contact {
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
}

footer {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

.mask {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

#tsparticles {
  animation: fadeIn 1s;
  height: 750px;
  box-shadow: inset 0px 0px 10px 10px #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
