html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Source Code Pro", monospace;
  flex-grow: 1;
  border: 1px solid black;
  margin: 2rem;
}

header {
  animation: fadeIn 5s;
  border: 1px solid black;
  width: fit-content;
  padding: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
